In [1]:
import torch
import random
import math

from util import TokenizerUtil

tokenizer = TokenizerUtil()

input_ids, _ = tokenizer.encode('how are you', max_length=6)

input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

input_ids, attention_mask, tokenizer.decode(input_ids)

(tensor([   0,    0,    2, 1139,  708,  692]),
 tensor([0, 0, 1, 1, 1, 1]),
 '<pad><pad><bos>how are you')

In [2]:
import json

with open('dataset/eval.json') as f:
    lines = f.readlines()

lines = random.sample(lines, k=16)
lines = [json.loads(i) for i in lines]

len(lines), lines[0]

(16,
 {'prompt': 'Human: context= CREATE TABLE table_name_62 (roll VARCHAR, decile VARCHAR, name VARCHAR) question= What is the roll number of Te Puke Intermediate, which has a decile of 4? Assistant:',
  'chosen': 'SELECT roll FROM table_name_62 WHERE decile = 4 AND name = "te puke intermediate"',
  'rejected': '',
  'response': 'SELECT roll FROM table_name_62 WHERE decile = 4 AND name = "te puke intermediate"'})

In [3]:
# %run 1.model.ipynb
%run 1.model_gemma2.ipynb

model_actor = torch.load('model/rlhf').to('cuda')

In [4]:
from util import get_generate

for data in lines:
    input_ids, _ = tokenizer.encode(data['prompt'], max_length=128)
    input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

    input_ids = input_ids.unsqueeze(0).to('cuda')
    attention_mask = attention_mask.unsqueeze(0).to('cuda')

    generate = get_generate(model_actor,
                            input_ids,
                            tokenizer.eos_token_id,
                            tokenizer.pad_token_id,
                            max_length=256)

    generate = generate[0, 128:].to('cpu')

    print(tokenizer.decode(generate))
    print(data['chosen'])
    print('===============')

select count(ROLL) from TABLE_NAME_62 where DECILE = 4 and NAME = "4"<eos>
SELECT roll FROM table_name_62 WHERE decile = 4 AND name = "te puke intermediate"
===============
select sum(POINTS) from TABLE_NAME_37 where TEAM_AGAINST = "SOUTH CAROLINA" and TRIES_AGAINST < 8<eos>
SELECT SUM(points_against) FROM table_name_37 WHERE team = "harlequins" AND tries_against < 8
===============
select max(GRID) from TABLE_NAME_80 where TIME = "+44.866" and LAPS > 25<eos>
SELECT MAX(grid) FROM table_name_80 WHERE time = "+44.866" AND laps > 25
===============
select count(OTHERS_PASSENGERS) from TABLE_13836704_6 where AIRPORT = "cHARLES bO"<eos>
SELECT transit_passengers FROM table_13836704_6 WHERE airport = "London Gatwick"
===============
select TITLE from TABLE_NAME_64 where DATE = "2009"<eos>
SELECT title FROM table_name_64 WHERE released = 2009
===============
select min(SCORER_) from TABLE_NAME_91 where REGION__MARKET_ = "31990" and REGION__MARKET_ = "NEW YORK RANG"<eos>
SELECT channels___analog___digital__ FROM table_name_91 WHERE first_air_date = "31 december 1990" AND region_served = "southern downs"
===============
select OPPONENT from TABLE_NAME_11 where ATTENDANCE = 526<eos>
SELECT opponent FROM table_name_11 WHERE attendance = 526
===============
select avg(RANK) from TABLE_NAME_9 where BRONZE > 0<eos>
SELECT AVG(rank) FROM table_name_9 WHERE bronze < 0
===============
select sum(ATTENDANCE) from TABLE_NAME_23 where HOME = "MCG"<eos>
SELECT SUM(attendance) FROM table_name_23 WHERE home = "calgary"
===============
select count(RANK) from TABLE_NAME_14 where POINTS > 24 and POINTS > 249<eos>
SELECT MAX(2 AS nd__m_) FROM table_name_14 WHERE rank > 2 AND points > 249.3
===============
select count(MUNICIPALITY) from TABLE_1216675_1 where CHINESE = "sOUTHERN"<eos>
SELECT COUNT(pinyin) FROM table_1216675_1 WHERE chinese = "釋蟲"
===============
select HOME from TABLE_NAME_57 where POINTS = "JANUARY 23" and DATE = "MAY 23"<eos>
SELECT home FROM table_name_57 WHERE points = 23 AND date = "january 2"
===============
select CONSTRUCTOR from TABLE_NAME_89 where CONSTRUCTOR = "JASON" and POLE_POSITION = "D"<eos>
SELECT constructor FROM table_name_89 WHERE tyre = "c" AND pole_position = "eugenio castellotti"
===============
select DATE from TABLE_NAME_8 where HIGH_POINTS = "33–13" and RECORD = "33–13"<eos>
SELECT date FROM table_name_8 WHERE high_points = "suns" AND record = "33–13"
===============
select DECLINATION___J from TABLE_NAME_73 where GDP___JASON = "1/A" and OTHERS = "5/A" and OTHERS = "5/A"<eos>
SELECT np___nnp FROM table_name_73 WHERE acdp = 1 AND others = 1 AND dp___da = 5
===============
select SCORE from TABLE_NAME_13 where OPPONENT = "NEW YORK GENDER"<eos>
SELECT score FROM table_name_13 WHERE opponent = "tampa bay lightning"
===============